<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--Custom CSS-->
    <link rel="stylesheet" href="styles.css">
    <!--Semantic-UI CSS-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <title>Sales Report</title>
  </head>

  <body>
    <div class="page-content" id="content" style="background: #87CEEB">
        <div class="d-flex justify-content-between py-4 px-2 " style="background-color: oklch(0.391 0.09 240.876);">
            <h1 style="color:#ffffff">TRACK HISTORY</h1>
            <div class="d-flex">
              <a href="/">
                <center>
                  <button type="button" class="btn mx-2" style="background-color: #ffffff;">
                    <p class="text-black">Dashboard</p>
                  </button>
                </center>
              </a>
              <form action="/logout?_method=DELETE" method="POST">
                <center><button type="submit" class="btn logout mx-2" style="background-color: #ffffff;" ><p class="text-black">Log Out</p></button></center>
              </form>
            </div>
          </div>
        <div class="d-flex justify-content-between">
            <div class="mx-5">
                <h1>Total Books Sold : <%= totalBooks%></h1>
            </div>
            <div class="mx-5">
                <h1>Total Sales : Rs. <%= totalAmount%></h1>
            </div>
        </div>
        <!-- Table To show Orders -->
        <div>
            <% if (table.length === 0) { %>
                <div class="empty-message d-flex justify-content-between">
                  <h2>Nothing in Purchase ☹️!</h2>
                </div>
              <% } else { %>
                <table>
                  <thead>
                    <tr>
                      <th>Order ID</th>
                      <th>Order_datetime</th>
                      <th>Customer_name</th>
                      <th>Total Books</th>
                      <th>Total Amount</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% table.forEach(function(order) { %>
                      <tr>
                        <td><%= order.OrderID %></td>
                        <td><%= order.Order_datetime %></td>
                        <td><%= order.Customer_name %></td>
                        <td><%= order.TotalBooks %></td>
                        <td><%= order.TotalAmount %></td>
                      </tr>
                    <% }); %>
                  </tbody>
                </table>
              <% } %>
        </div>
    </div>
  </body>