<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--Custom CSS-->
  <link rel="stylesheet" href="styles.css">
  <!-- Semantic UI CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  <title>WareHouse</title>
</head>
<body>
 <!-- Page content holder -->
<div class="page-content" id="content" style="background: #87CEEB">
    <!-- header -->
    <div class="d-flex justify-content-between py-4 px-2 " style="background-color: oklch(0.391 0.09 240.876);">
      <h1 style="color:#ffffff">MANAGE SUPPLIER Books</h1>
      <form action="/logout?_method=DELETE" method="POST">
        <center><button type="submit" class="btn logout" style="background-color: #ffffff;" ><p class="text-black">Log Out</p></button></center>
      </form>
    </div>
    <!-- Table for Supplier -->
     <div class="container mt-3 purchase">
            <form action="/addSupplierBook" method="POST">
                <div class="mb-3">
                    <label for="supplier">Select Supplier:</label>
                    <select id="supplier" name="Sname" class="form-control" required>
                        <option value="">-- Select Supplier --</option>
                        <% SupplierName.forEach(supplier => { %>
                            <option value="<%= supplier.Supplier_Name %>"><%= supplier.Supplier_Name %></option>
                        <% }) %>
                    </select>
                </div>
                <div class="mb-3">
                    <input type="text" id="name" name="Bname" class="form-control" placeholder="Enter Book Name" required>
                </div>
                <div class="mb-3">
                    <input type="text" id="city" name="genre" class="form-control" placeholder="Enter Book Genre" required>
                </div>
                <div class="mb-3">
                    <input type="text" id="number" name="price" class="form-control" placeholder="Enter Book Price" required>
                </div>
                <button type="submit" class="btn btn-primary">Add Supplier</button>
            </form>
        </div>
    <div>
        <% if(SupplierBook.length == 0){%>
            <div class="empty-message d-flex justify-content-between">
                <h2>No Books yet☹️!</h2>
                <!-- <a href="/purchaseBook">
                  <center>
                    <button type="button" class="btn mx-2" style="background-color: #a3eb87;">
                      <p class="text-black fs-4">Purchase Book</p>
                    </button>
                  </center>
                </a> -->
              </div>
            <% } else{%>
                <table>
                    <thead>
                      <tr>
                        <th>Supplier ID</th>
                        <th>Supplier Name</th>
                        <th>Book ID</th>
                        <th>Book Name</th>
                        <th>Book Genre</th>
                        <th>Book Price</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% SupplierBook.forEach(function(s) { %>
                        <tr>
                          <td><%= s.SupplierID %></td>
                          <td><%= s.Supplier_Name %></td>
                          <td><%= s.BookID %></td>
                          <td><%= s.Book_Name %></td>
                          <td><%= s.Book_Genre %></td>
                          <td><%= s.Price %></td>
                        </tr>
                      <% }); %>
                    </tbody>
                  </table>
                <% } %>
    </div>
    </div>
</div>

</body>
</html>


